.card {
    width: 61.5vw;
    height: 80vw;
  
    @media screen and (min-width: 768px) {
      width: 61.5vw;
      height: 80vw;
    }
  
    @media screen and (min-width: 1024px) {
      width: clamp(12.9vw, 61vh, 18vw);
      height: clamp(18vw, 85vh, 25.2vw);
    }
  
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
  
    border-radius: 5% / 3.5%;
    box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
      -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
      0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
  
    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
  }
  
  img {
    width: 61.5vw;
    height: 80vw;
  
    @media screen and (min-width: 768px) {
      width: 61.5vw;
      height: 80vw;
    }
  
    @media screen and (min-width: 1024px) {
      width: clamp(12.9vw, 61vh, 18vw);
      height: clamp(18vw, 85vh, 25.2vw);
    }
  }
  
  .card:hover {
    box-shadow: -20px -20px 30px -25px var(--color1),
      20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
      7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  
  .card.pika {
    --color1: var(--pika1);
    --color2: var(--pika2);
  }
  
  .card:before,
  .card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
  }
  
  .card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      var(--color1) 25%,
      transparent 47%,
      transparent 53%,
      var(--color2) 75%,
      transparent 100%
    );
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
  }
  
  .card:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
      url(https://assets.codepen.io/13471/holo.png),
      linear-gradient(
        125deg,
        #ff008450 15%,
        #fca40040 30%,
        #ffff0030 40%,
        #00ff8a20 60%,
        #00cfff40 70%,
        #cc4cfa50 85%
      );
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.75;
  }
  
  .card.active:after,
  .card:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
  }
  
  .card.active,
  .card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
  }
  
  .card.active:before,
  .card:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: 0.88;
    filter: brightness(0.66) contrast(1.33);
    transition: none;
  }
  
  .card.active:before,
  .card:hover:before,
  .card.active:after,
  .card:hover:after {
    animation: none;
    transition: none;
  }
  
  .card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before {
      transition: none;
      animation: holoGradient 12s ease 0s 1;
    }
    &:after {
      transition: none;
      animation: holoSparkle 12s ease 0s 1;
    }
  }

  .cards {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
  }
  
  @media screen and (min-width: 600px) {
    .cards {
      flex-direction: row;
    }
  }

  .cards .card {
    &:nth-child(2) {
      &,
      &:before,
      &:after {
        animation-delay: 0.25s;
      }
    }
    &:nth-child(3) {
      &,
      &:before,
      &:after {
        animation-delay: 0.5s;
      }
    }
    &:nth-child(4) {
      &,
      &:before,
      &:after {
        animation-delay: 0.75s;
      }
    }
  }